- content_for(:title, "Edit Team")
%div.mdl-grid
	= form_for(@team) do |f|
		%div.mdl-card.mdl-shadow--4dp
			%div.mdl-card__title.mdl-card--border
				= @team.name
			%div.mdl-card__supporting-text
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.text_field :name, class: "mdl-textfield__input"
					= label_tag "name", class: "mdl-textfield__label" do
						Team Name
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.text_field :sport, class: "mdl-textfield__input"
					= label_tag "sport", class: "mdl-textfield__label" do
						Sport
			%div.mdl-card__actions.mdl-card--border
				= link_to "cancel", :back, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
				= f.submit "Save", class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		%div.team_delete
			= link_to team_path(@team), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red", :method => 'delete' do
				Delete this team

/= render 'shared/confirmation_modal', type: 'team', url: team_path(@team)