- content_for(:title, "#{@team.name} #{@team.sport} > Roster")
#team_show.mdl-cell--12-col.mdl-grid
	//%div.mdl-cell.mdl-cell--12-col.mdl-grid
	%div.mdl-cell--5-col.mdl-shadow--2dp.list-panel
		%div.mdl-cell.mdl-cell--12-col
			%div.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
				%div.mdl-tabs__tab-bar
					=link_to "All", "#all-panel", class:"mdl-tabs__tab is-active"
					=link_to "Coaches", "#coaches-panel", class:"mdl-tabs__tab"
					=link_to "Players", "#players-panel", class:"mdl-tabs__tab"
				%div.mdl-tabs__panel.is-active#all-panel
					%h5 All
					%ul.mdl-list
						-@members.each do |mbr|
							= link_to team_member_path(@team, mbr) do
								%li.mdl-list__item.mdl-button.mdl-js-button
									%span.mdl-list__item-primary-content
										#{mbr.last_name}, #{mbr.first_name}
				%div.mdl-tabs__panel#coaches-panel
					%h5 Coaches
					%ul.mdl-list
						-@coaches.each do |mbr|
							= link_to team_member_path(@team, mbr) do
								%li.mdl-list__item.mdl-button.mdl-js-button
									%span.mdl-list__item-primary-content
										#{mbr.last_name}, #{mbr.first_name}
				%div.mdl-tabs__panel#players-panel
					%h5 Players
					%ul.mdl-list
						-@players.each do |mbr|
							= link_to team_member_path(@team, mbr) do
								%li.mdl-list__item.mdl-button.mdl-js-button
									%span.mdl-list__item-primary-content
										#{mbr.last_name}, #{mbr.first_name}

	//%div.mdl-cell--6-col.list-item-detail
	%div.mdl-cell--6-col.member-detail
		%div.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.member-card
			%div.mdl-card__title.mdl-color--blue
				%h2.mdl-card__title-text
					Jeffrey Lebowski
			%div.mdl-card__supporting-text
				%ul.mdl-list
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								call
							(404) 555-4321
							%span.mdl-list__item-sub-title
								Cell
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								mail
							dude@gmail.com
							%span.mdl-list__item-sub-title
								Email address
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								message
							@dudetweets
							%span.mdl-list__item-sub-title
								Twitter
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								call
							(404) 555-4321
							%span.mdl-list__item-sub-title
								Cell
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								mail
							dude@gmail.com
							%span.mdl-list__item-sub-title
								Email address
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								message
							@dudetweets
							%span.mdl-list__item-sub-title
								Twitter
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								call
							(404) 555-4321
							%span.mdl-list__item-sub-title
								Cell
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								mail
							dude@gmail.com
							%span.mdl-list__item-sub-title
								Email address
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							%i.material-icons.mdl-list__item-icon
								message
							@dudetweets
							%span.mdl-list__item-sub-title
								Twitter
	%div.mdl-cell--1-col.fab-col
		=link_to new_team_member_path(@team), class:"mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect mdl-button--fab" do
			%i.material-icons
				add

			-#%section
					%h5 Coaches
					=link_to "Add a Coach", new_team_member_path(@team, :role => 'Coach')
					%ul.mdl-list
						- @coaches.each do |mbr|
							%li.mdl-list__item
								%span.mdl-list__item-primary-content
									#{mbr.last_name}, #{mbr.first_name}
					%h5 Players
					=link_to "Add a Player", new_team_member_path(@team, :role => 'Player')
					%ul.mdl-list
						- @players.each do |mbr|
							%li.mdl-list__item
								%span.mdl-list__item-primary-content
									#{mbr.last_name}, #{mbr.first_name}





				-#%section
					%h5
						Coaches
						= link_to "Add a Coach", new_team_member_path(@team, :role => 'Coach'), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" unless !current_user.is_team_admin?(@team)
					%table.mdl-data-table.mdl-js-data-table
						%thead
							%tr
								%th.mdl-data-table__cell--non-numeric Last Name
								%th.mdl-data-table__cell--non-numeric First Name
								%th.mdl-data-table__cell--non-numeric Email
								%th.mdl-data-table__cell--non-numeric Admin?
								- if current_user.is_team_admin?(@team)
									%th.mdl-data-table__cell--non-numeric
						%tbody
							- @coaches.each do |coach|
								%tr
									%td.mdl-data-table__cell--non-numeric
										=coach.last_name
									%td.mdl-data-table__cell--non-numeric
										=coach.first_name
									%td.mdl-data-table__cell--non-numeric
										=coach.email
									%td.mdl-data-table__cell--non-numeric
										=coach.admin
									%td.mdl-data-table__cell--non-numeric
										= link_to "Profile", team_member_path(@team, coach), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
					%h5
						Players
						= link_to "Add a Player", new_team_member_path(@team, :role => 'Player'), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" unless !current_user.is_team_admin?(@team)
					%table.mdl-data-table.mdl-js-data-table
						%thead
							%tr
								%th.mdl-data-table__cell--non-numeric Last Name
								%th.mdl-data-table__cell--non-numeric First Name
								%th.mdl-data-table__cell--non-numeric Email
								%th.mdl-data-table__cell--non-numeric Admin?
								- if current_user.is_team_admin?(@team)
									%th.mdl-data-table__cell--non-numeric
						%tbody
							- @players.each do |player|
								%tr
									%td.mdl-data-table__cell--non-numeric
										=player.last_name
									%td.mdl-data-table__cell--non-numeric
										=player.first_name
									%td.mdl-data-table__cell--non-numeric
										=player.email
									%td.mdl-data-table__cell--non-numeric
										=player.admin
									%td.mdl-data-table__cell--non-numeric
										= link_to "Profile", team_member_path(@team, player), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
