- content_for(:title, "#{@member.team.name} > #{@member.first_name} #{@member.last_name} (#{@member.role})")
%div.mdl-grid.mdl-cell
	%div.mdl-cell.mdl-cell--12-col
		%h5	
			= @member.first_name
			= @member.last_name
		= link_to "edit", edit_team_member_path(@member.team, @member), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" unless !current_user.is_team_admin?(@member.team)