// need to look at customizing this page based on whether the viewer (current_user) is the subject of the Profile Page or not (if current_user(@user)...)

- if current_user?(@user)
	- content_for(:title, "My Account")
- else
	- content_for(:title, "#{@user.first_name}'s Account")
#user_show.mdl-cell--12-col.mdl-grid
	%div.mdl-cell--6-col
		%h5 Account Details
		%div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
			%div.mdl-card__title
			/ consider using this for styling the bg of the card title area
			/ {style: "background: #{asset_url(@user.picuture)}) center/cover;"}
			%div.mdl-card__supporting-text
				%p
					%strong Name:
					= "#{@user.first_name} #{@user.last_name}"
				%p
					%strong Email:
					= @user.email
			- if current_user?(@user)
				%div.mdl-card__actions.mdl-card--border
					= link_to 'Edit Account', edit_user_path(current_user), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
	%div.mdl-cell--6-col
		%h5
			My Teams
			=link_to "Create a team", new_team_path, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
			- if @user.teams.any?
				- @teams.each do |team|
					%div.mdl-cell--12-col.mdl-card.mdl-shadow--2dp{:id => "#{team.name}"}
						%div.mdl-card__title
							= team.name
						%div.mdl-card__supporting-text
							%strong Sport:
							= team.sport
						%div.mdl-card__actions.mdl-card--border
							= link_to "View Team", team, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
						%div.mdl-card__menu
							= link_to edit_team_path(team), class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" do
								%i.material-icons
									edit
							= link_to team, class:"mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect", :method => "delete", :data => { confirm: "Are you sure, dude?" } do
								%i.material-icons
									close


			- elsif
				%h4
					Dude... you don't have any teams
