// need to look at customizing this page based on whether the viewer (current_user) is the subject of the Profile Page or not (if current_user(@user)...)

- if current_user?(@user)
	- content_for(:title, "My Account")
- else
	- content_for(:title, "#{@user.first_name}'s Account")
#user_show.mdl-cell--12-col.mdl-grid
	%div.mdl-cell--6-col
		%h5 Profile
		%ul.mdl-list
			%li.mdl-list__item.mdl-list__item--two-line
				%span.mdl-list__item-primary-content
					#{@user.first_name} #{@user.last_name}
					%span.mdl-list__item-sub-title
						Name
			%li.mdl-list__item.mdl-list__item--two-line
				%span.mdl-list__item-primary-content
					=@user.email
					%span.mdl-list__item-sub-title
						Email
		= link_to 'Edit Profile', edit_user_path(current_user), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
	%div.mdl-cell--6-col
		%h5 My Teams
		- if @user.teams.any?
			%ul.mdl-list
				- @teams.each do |team|
					%li.mdl-list__item.mdl-list__item--two-line
						%span.mdl-list__item-primary-content
							#{team.name}
							%span.mdl-list__item-sub-title
								#{team.sport}
						%span.mdl-list__item-secondary-content
							= link_to team  do
								%i.material-icons
									launch
						%span.mdl-list__item-secondary-content
							= link_to edit_team_path(team)  do
								%i.material-icons
									settings
		- elsif
			%h4 Dude... you don't have any teams
			=link_to "Add a team", new_team_path, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
