-content_for(:title, "#{@school.name}")
%div#school_index.mdl-cell--12-col.mdl-grid
  %div.mdl-cell--6-col
    %ul.mdl-list
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %span
            #{@school.name} (#{@school.initials})
          %span.mdl-list__item-sub-title
            = @school.mascot.pluralize
    =link_to "Edit #{@school.name}", edit_admin_school_path(@school), class: "mdl-button mdl-js-button mdl-button--colored"
  %div.mdl-cell--6-col
    %ul.mdl-list
      - @school.teams.each do |team|
        %li.mdl-list__item
          %span.mdl-list__item-primary-content
            %span
              =team.name
          %span.mdl-list__item-secondary-content
            =link_to "view", admin_school_team_path(@school, team)
            =link_to admin_school_team_path(@school, team), :method => :delete do
              %i.material-icons
                delete
    =link_to "Add a Team", new_admin_school_team_path(@school), class: "mdl-button mdl-js-button mdl-button--colored"
