- content_for(:title, "Invitations")
%div.mdl-cell--12-col
  %div.mdl-cell.mdl-cell--12-col
    %section
      %h5 Pending Invitations
      %table.mdl-data-table.mdl-js-data-table
        %thead
          %tr
            %th.mdl-data-table__cell
            %th.mdl-data-table__cell--non-numeric First Name
            %th.mdl-data-table__cell--non-numeric Last Name
            %th.mdl-data-table__cell--non-numeric Email
            %th.mdl-data-table__cell--non-numeric Date Submitted
            %th.mdl-data-table__cell--non-numeric
        %tbody
          - @invitations.each do |inv|
            %tr
              %td.mdl-data-table__cell
                = inv.id
              %td.mdl-data-table__cell--non-numeric
                = inv.first_name
              %td.mdl-data-table__cell--non-numeric
                = inv.last_name
              %td.mdl-data-table__cell--non-numeric
                = inv.email
              %td.mdl-data-table__cell--non-numeric
                = inv.created_at.strftime("%m-%d-%Y - %H:%M%p")
              %td.mdl-data-table__cell--non-numeric
                - if inv.status == "Approved"
                  %span.mdl-button.mdl-button--colored.mdl-color-text--grey.mdl-typography--text-center Approved
                - else
                  = link_to 'Approve', admin_invitation_accept_path(inv), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--green"
                  = link_to 'Delete', url_for([:admin, inv]), :method => "delete", class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red"
                  = link_to 'SudoRedeem', invitation_redeem_path(inv.token), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--purple"
