= form_for([@prospect, @coach]) do |f|
  %div.mdl-card.mdl-shadow--4dp.mdl-cell--8-col.mdl-cell--2-offset
    %div.mdl-card__title.mdl-card--border
      = "#{params[:action].capitalize} Coach"
    %div.mdl-card__supporting-text.mdl-grid
      %div.mdl-cell.mdl-cell--6-col

        %div.horizontal-radio-buttons
          %label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect{:for => "High School"}
            = f.radio_button :program_kind, "High School", id:"High School", class: "mdl-radio__button"
            %span.mdl-radio__label
              High School
          %label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect{:for => "Club Team"}
            = f.radio_button :program_kind, "Club Team", id:"Club Team", class: "mdl-radio__button"
            %span.mdl-radio__label
              Club Team

        %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = f.label "program_name", "Team Name", class: "mdl-textfield__label"
          = f.text_field :program_name, class:"mdl-textfield__input", :autofocus => true
        %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = f.label "first_name", "First Name", class: "mdl-textfield__label"
          = f.text_field :first_name, class:"mdl-textfield__input"
        %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = f.label "last_name", "Last Name", class: "mdl-textfield__label"
          = f.text_field :last_name, class:"mdl-textfield__input"
        %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = f.label "email", "Email", class: "mdl-textfield__label"
          = f.email_field :email, class:"mdl-textfield__input"
        %div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = f.label "primary_phone", "Primary Phone", class: "mdl-textfield__label"
          = f.phone_field :primary_phone, class:"mdl-textfield__input"

    %div.mdl-card__actions.mdl-card--border
      = f.submit "Save", class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"


