- content_for(:title, "Users")
%div.mdl-cell--12-col
  %div.mdl-cell.mdl-cell--12-col
    %section
      %h5 Users
      %table.mdl-data-table.mdl-js-data-table
        %thead
          %tr
            %th.mdl-data-table__cell
            %th.mdl-data-table__cell--non-numeric First Name
            %th.mdl-data-table__cell--non-numeric Middle Name
            %th.mdl-data-table__cell--non-numeric Last Name
            %th.mdl-data-table__cell--non-numeric Email
            %th.mdl-data-table__cell--non-numeric
        %tbody
          - @users.each do |user|
            %tr
              %td.mdl-data-table__cell
                = user.id
              %td.mdl-data-table__cell--non-numeric
                = user.first_name
              %td.mdl-data-table__cell--non-numeric
                = user.middle_name
              %td.mdl-data-table__cell--non-numeric
                = user.last_name
              %td.mdl-data-table__cell--non-numeric
                = user.email
              %td.mdl-data-table__cell--non-numeric
                = link_to 'View Profile', user, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--green"
