%header.navbar.navbar-fixed-top
	%div.container
		%nav
			%ul.nav.navbar-nav
				%li{ :class => ("active" if current_page?(root_path)) }
					= link_to "Home", root_path
				%li{ :class => ("active" if current_page?(about_path)) }
					= link_to "About", about_path
				%li{ :class => ("active" if current_page?(help_path)) }
					= link_to "Help", help_path
			%ul.nav.navbar-nav.navbar-right
				- if logged_in?
					%li{ :class => ("active" if current_page?(current_user)) }
						= link_to "Account", current_user
					%li
						= link_to "Logout", logout_path, method: :delete
				- else
					%li
						= link_to "Login", login_path
