%header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
  %div.mdl-layout__header-row
    %span.mdl-layout-title
      = yield(:title)
    %div.mdl-layout-spacer
    -#%div.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
      = label_tag 'search', class:"mdl-button mdl-js-button mdl-button--icon" do
        %i.material-icons
          search
      %div.mdl-textfield__expandable-holder
        %input{ :type => "text", :id => "search", :class => "mdl-textfield__input"}
        %label{ :for => "search", :class => "mdl-textfield__label"}
          Enter your query...
    -#%button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon{ :id => "hdrbtn" }
      %i.material-icons
        more_vert
    -#%ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right{ :for => "hdrbtn" }
      = link_to current_user do
        %li.mdl-menu__item.mdl-js-ripple-effect
          DaAccount
      = link_to logout_path do
        %li.mdl-menu__item.mdl-js-ripple-effect
          Logout

%div.demo-drawer.mdl-layout__drawer.mdl-color--light-green-700.mdl-color-text--white
  %header.demo-drawer-header#sidenav
    %img{ :src => asset_url('scorbord-whitetext-wicon.svg') }
    %div.demo-avatar-dropdown
      %span
        = current_user.email
        %br
        %strong= current_team.name
      %div.mdl-layout-spacer
      %button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon{ :id => "accbtn" }
        %i.material-icons{ :role => "presentation"}
          arrow_drop_down
        %span.visuallyhidden
          Accounts
      %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{ :for => "accbtn" }
        %li.mdl-menu__item
          = link_to "Account", current_user, class:"mdl-navigation__link"
        %li.mdl-menu__item
          = link_to "Logout", logout_path, class:"mdl-navigation__link"

  %nav.demo-navigation.mdl-navigation.mdl-color--light-green
    - if current_user.teams.any?
      = link_to current_team, class:"mdl-navigation__link" do
        %i.material-icons{ :role => "presentation" }
          dashboard
        Dashboard
      = link_to team_roster_path(current_team), class:"mdl-navigation__link" do
        %i.material-icons{ :role => "presentation" }
          assignment_ind
        Roster
      = link_to schedule_path, class:"mdl-navigation__link" do
        %i.material-icons{ :role => "presentation" }
          event
        Schedule
    - if current_user.super_admin?
      %div.super_admin_nav
        = link_to admin_invitations_path, class:"mdl-navigation__link" do
          %i.material-icons{ :role => "presentation" }
            inbox
          Invitations
          .mdl-badge(data-badge="#{Invitation.where('status IS NULL').count}")
        = link_to admin_schools_path, class:"mdl-navigation__link" do
          %i.material-icons{ :role => "presentation" }
            business
          Schools

    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        delete
      Trash
    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        report
      Spam
    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        forum
      Forums
    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        flag
      Updates
    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        local_offer
      Promos
    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        shopping_cart
      Purchases
    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        people
      Social
    %div.mdl-layout-spacer
    %div.mdl-menu__item--full-bleed-divider

    = link_to logout_path, class:"mdl-navigation__link" do
      %i.material-icons{ :role => "presentation" }
        exit_to_app
      Logout



    -#= link_to "#", class:"mdl-navigation__link" do
      %i.mdl-color-text--blue-grey-400.material-icons{ :role => "presentation" }
        help_outline
      Help
