<!DOCTYPE html>
<html>
	<head>
	  <title>scorbordapp | <%= yield(:title) %></title>
	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tag %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">

    <%= stylesheet_link_tag 'materialdashboard', media: 'all', 'data-turbolinks-track' => true %>

    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
   
	</head>
	<body>
		<% if Rails.env.development? %>
				<%= branch_info %>
		<% end %>
		<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <%= render 'layouts/material_header' %>

    <main class="mdl-layout__content mdl-color--grey-100">
    	<div class="mdl-grid" id="main_content">
    		<% flash.each do |name, msg| -%>
    			<div class="mdl-cell mdl-cell--12-col alert">
			    	<%= content_tag :div, msg, class: ["flash", name] %>
			  	</div>
			  <% end -%>

					<%= yield %>

			</div>
		</main>
	</body>
</html>
