- if params[:action] == "new"
	- role = params[:role]
	- url = team_members_path
- else
	- role = @member.role
	- url = team_member_path
= form_for(@member, :url => url) do |f|
	%div.mdl-card.mdl-shadow--4dp.mdl-cell--8-col.mdl-cell--2-offset
		%div.mdl-card__title.mdl-card--border
			#{params[:action].titlecase} Team Member
		%div.mdl-card__supporting-text.mdl-grid
			%div.mdl-cell.mdl-cell--6-col
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.hidden
					= f.text_field :role, class: "mdl-textfield__input", :value => role
					= label_tag "role", class: "mdl-textfield__label" do
						Role	
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.text_field :first_name, class: "mdl-textfield__input"
					= label_tag "first_name", class: "mdl-textfield__label" do
						First Name
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.text_field :last_name, class: "mdl-textfield__input"
					= label_tag "last_name", class: "mdl-textfield__label" do
						Last Name
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.text_field :nickname, class: "mdl-textfield__input"
					= label_tag "nickname", class: "mdl-textfield__label" do
						Nickname
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.email_field :email, class: "mdl-textfield__input"
					= label_tag "email", class: "mdl-textfield__label" do
						Email Address
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.phone_field :cell_phone, class: "mdl-textfield__input"
					= label_tag "cell_phone", class: "mdl-textfield__label" do
						Cell Phone
			%div.mdl-cell.mdl-cell--6-col
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.number_field :height, class: "mdl-textfield__input"
					= label_tag "height", class: "mdl-textfield__label" do
						Height (in)
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.number_field :weight, class: "mdl-textfield__input"
					= label_tag "weight", class: "mdl-textfield__label" do
						Weight (lbs)
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.text_field :gender, class: "mdl-textfield__input"
					= label_tag "gender", class: "mdl-textfield__label" do
						Gender
				%div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= f.number_field :grad_year, class: "mdl-textfield__input"
					= label_tag "grad_year", class: "mdl-textfield__label" do
						Graduation Year


		%div.mdl-card__actions.mdl-card--border
			= f.submit "Save", class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
			= link_to "cancel", :back, class:"mdl-color-text--grey mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
	- if params[:action] == "edit"
		%div.team_delete
			= link_to team_member_path(@member.team_id, @member.id), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--red", :method => 'delete' do
				Delete this team member